

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->
			<div class="row">My dinner</div>

			<div class="row">People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" style="width:20%;"/></div>

			<div class="row" style="background:#DDDDDD;">
                    <div class="col-md-9 left" style="margin-left:-15px">Dish name</div>
                    <div class="col-md-3 right">Cost</div>
                </div>
            <div class="row" ng-repeat="item in menu track by $index">
            	<div class="col-md-9 left" style="margin-left:-15px">{{item.Title}}</div>
            	<div class="col-md-3 right">{{getTotalDishPrice(item)}}</div>
            </div>
            <div class="row">
            	____________________________
            	<div class="col-md-9 left" style="margin-left:-15px">Total price</div>
            	<div class="col-md-3 right">{{getTotalMenuPrice()}} SEK</div>
            </div>	
            <div class="row">
            	<a href="#/overview" class="btn btn-warning">Confirm dinner</a>
            </div>
			<!-- Total number of guest: {{getNumberOfGuests()}} -->
		