<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div class="container">
<div class="row bg-img">
	<div class="col-md-5 bg-faded middle">
                    
        <font size="6">A Home Dinner Service</font>
        <p style="font-style:italic;"><br/><br/>Start quickly</p>
		<a href="#/search" class="btn btn-primary">Create new dinner</a>
            		
     </div>
     <div class="cold-md-7">
                    
	</div>
</div>
</div>

