<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<input ng-model="query"/>
<button ng-click="search(query)">Find</button>
{{status}} 
<div>
 <div style="width:200px; margin:0px; display:inline;" ng-repeat="dish in dishes track by $index">
 <img ng-src="{{dish.ImageURL120}}"/>
 <font size="4">{{dish.Title}}</font>
 
 {{dish.Category}}

  <a ng-href="#/dish/{{dish.RecipeID}}">View more</a>
   <br ng-if="!(($index + 1) % 2)" />
 </div>

</div>




<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->